<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Internal Server Error</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{{ url_for('static', filename='vendor/metisMenu/metisMenu.min.css') }}" rel="stylesheet">


        <!-- Custom CSS -->
        <link href="{{ url_for('static', filename='dist/css/sb-admin-2.css') }}" rel="stylesheet">


        <!-- Custom Fonts -->
        <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    </head>
</html>

<body>
    <div class="row">
        <div class="container">
            <div class="col-lg-12" style="margin-top: 20px; margin-left: 350px">
                <h1 style="margin-left: 80px">OUCHHH!!</h1>
                <h3 style="margin-left: 40px;">Some witch is at work :(</h3>
                <p> However, I will encourage you to
                make sure you:</p>
                <ul>
                    <li>Entered a correct url</li>
                    <li>Have a good internet connection</li>
                </ul>
                <p>
                    Otherwise, you can feel free and go to sleep :)
                </p>
                <a style="margin-left: 80px;" href="{{ url_for('crawl_return') }}">Go back to search page</a>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
</body>